$main-green: #70F193;

.saga-green {
    .MuiBox-root {
        background-color: #FBFAFC !important;
    }
    a{
        color: #222222 !important;
        transition: .2s ease-in-out;
        text-decoration: none;
        &:hover{
          color: $main-green !important;
        }
      }
    .main-green-badge{
        border: 1px solid $main-green;
        border-radius: 8px;
        padding: 6px 8px;
        color: $main-green;
        font-weight: 600;
        background-color: #70f19317;
      }

    //// DASHBOARD STYLES Start ////
    .custom-tabs-menu {
        border: 1px solid #ececec;
        border-radius: 16px;
        box-shadow: rgba(99, 99, 99, 0.1) 0px 1px 1px 0px;

        .tab-menu {
            padding: 12px;
            color: #000000;
            transition: .2s ease-in-out;

            &:hover {
                color: $main-green;
            }
        }

        .active {
            background-color: $main-green;
            color: #000000;
            padding: 12px;
            border-radius: 20px;

            &:hover {
                color: #000000;
            }
        }
       
    }
    .recent-gym-item {
        border-bottom: 1px solid #ececec;
    }

    .subs-card{
        background-color: #fafcfa;
     }
    //// DASHBOARD STYLES End ////
}